
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 63.8rem;
}.depth-0-frame-0-uBm {
  background-color: #f7f9fc;
  width: 100%;
  height: 145.6rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

  .depth-1-frame-0-CRm {
    height: 7.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f7f9fc;
    width: 39rem;
  }
  .depth-3-frame-0-KWP {
    position: absolute;
    left: 1.6rem;
    top: 8.8rem;
    width: 21.1rem;
    height: 19.85rem;

    .image-1-b6X {
      margin-bottom: 1.2rem;
      width: 13.5rem;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-image: url('REPLACE_IMAGE:d3dfafbd8ede9dd43616ce611fbb0eb906e9a054');
      height: 13.5rem;
      border: solid 0.1rem #000000;
      background-color: rgba(0, 0, 0, 0.200000003);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 18rem;
    }
    .depth-4-frame-1-SN3 {
      height: 5.15rem;
      position: relative;
      width: 100%;

      .niranjan-hiremath-az3 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        height: 2.8rem;
        position: absolute;
        top: 0;
        letter-spacing: -0.033rem;
        color: #0c171c;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 18.9rem;
        left: 0;
      }
      .data-scientist-data-analyst-4PR {
        width: 21.1rem;
        height: 2.4rem;
        left: 0;
        line-height: 1.5;
        white-space: nowrap;
        position: absolute;
        top: 2.75rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: #47849e;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .depth-1-frame-2-8PH {
    position: absolute;
    left: 0;
    top: 29.95rem;
    background-color: #f7f9fc;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 37.4rem;
    height: 5.6rem;

    .depth-2-frame-0-d59 {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-right: 24.8rem;
      width: 100%;
      height: 100%;

      .depth-3-frame-0-Mmq {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
      }
      .depth-3-frame-1-t15 {
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
        width: 5.4rem;
        font-size: 1.6rem;
        color: #0c171c;
        display: flex;
        margin: 0.8rem 0;
        position: relative;
        flex-shrink: 0;
        height: calc(100% - 1.6rem);
      }
    }
  }
  .depth-1-frame-3-7Pd {
    padding: 0.8rem 1.6rem;
    width: 33.7rem;
    height: 5.6rem;
    position: absolute;
    left: 0;
    top: 35.55rem;
    background-color: #f7f9fc;
    box-sizing: border-box;

    .depth-2-frame-0-3HH {
      box-sizing: border-box;
      padding-right: 13.0984rem;
      width: 25.0984rem;
      height: 100%;
      display: flex;
      align-items: center;

      .depth-3-frame-0-mDH {
        margin-right: 1.6rem;
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.8rem;
        flex-shrink: 0;
      }
      .depth-3-frame-1-6mM {
        width: 6.4rem;
        font-weight: 400;
        justify-content: center;
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        margin: 0.8rem 0;
        height: calc(100% - 1.6rem);
        color: #0c171c;
        align-items: center;
        overflow: hidden;
        position: relative;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        line-height: 1.5;
      }
    }
  }
  .education-Bno {
    letter-spacing: -0.033rem;
    white-space: nowrap;
    position: absolute;
    font-size: 2.2rem;
    left: 1.6rem;
    top: 43.15rem;
    font-weight: 700;
    line-height: 1.25;
    color: #0c171c;
    font-family: Inter, 'Source Sans Pro';
    width: 10.6rem;
    height: 2.8rem;
  }
  .depth-1-frame-5-tSK {
    height: 7.2rem;
    position: absolute;
    left: 0;
    top: 47.1rem;
    background-color: #f7f9fc;
    box-sizing: border-box;
    padding: 0.8rem 1.6rem;
    width: 39rem;

    .depth-2-frame-0-DUb {
      height: 100%;
      display: flex;
      align-items: center;
      width: 28.1813rem;

      .depth-3-frame-0-ZHZ {
        margin-right: 1.6rem;
        width: 5.6rem;
        height: 5.6rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.8rem;
        flex-shrink: 0;
      }
      .depth-3-frame-2-t4w {
        height: calc(100% - 1.1rem);
        flex-shrink: 0;
        margin: 0.55rem 0;
        width: 20.9813rem;

        .depth-4-frame-0-ohh {
          height: 2.4rem;
          overflow: hidden;
          position: relative;
          font-size: 1.6rem;
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          width: 100%;
          justify-content: center;
          color: #0c171c;
          white-space: nowrap;
          align-items: center;
          font-weight: 500;
        }
        .depth-4-frame-1-7iP {
          height: 2.1rem;
          position: relative;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          display: flex;
          width: 11.5rem;
          overflow: hidden;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #47849e;
          white-space: nowrap;
          justify-content: center;
        }
      }
    }
  }
  .depth-1-frame-6-pco {
    top: 54.3rem;
    background-color: #f7f9fc;
    box-sizing: border-box;
    padding: 0.8rem 2.078rem 0.8rem 1.6rem;
    width: 39rem;
    height: 7.2rem;
    position: absolute;
    left: 0;

    .depth-2-frame-0-Lr3 {
      align-items: center;
      width: 100%;
      height: 100%;
      display: flex;

      .depth-3-frame-0-Jns {
        height: 5.6rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 5.6rem;
      }
      .depth-3-frame-2-FCK {
        margin: 0.55rem 0;
        width: 28.1219rem;
        height: calc(100% - 1.1rem);
        flex-shrink: 0;

        .depth-4-frame-0-ye7 {
          line-height: 1.5;
          color: #0c171c;
          align-items: center;
          margin-right: 0.0219rem;
          width: calc(100% - 0.0219rem);
          position: relative;
          font-weight: 500;
          height: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          overflow: hidden;
          font-size: 1.6rem;
          white-space: nowrap;
          display: flex;
          justify-content: center;
        }
        .depth-4-frame-1-H91 {
          overflow: hidden;
          line-height: 1.5;
          display: flex;
          width: 16rem;
          height: 2.1rem;
          font-weight: 400;
          color: #47849e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          position: relative;
          font-size: 1.4rem;
        }
      }
    }
  }
  .projects-Aib {
    left: 1.6rem;
    top: 63.5rem;
    font-size: 2.2rem;
    line-height: 1.25;
    white-space: nowrap;
    width: 8.7rem;
    height: 2.8rem;
    position: absolute;
    font-weight: 700;
    letter-spacing: -0.033rem;
    color: #0c171c;
    font-family: Inter, 'Source Sans Pro';
  }
  .depth-1-frame-8-GWj {
    top: 67.45rem;
    display: flex;
    align-items: center;
    background-color: #f7f9fc;
    box-sizing: border-box;
    position: absolute;
    height: 5.6rem;
    left: 0;
    padding: 0.8rem 0.2rem 0.8rem 1.6rem;
    width: 47.1rem;

    .depth-2-frame-0-xuM {
      box-sizing: border-box;
      padding-right: 12rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 11.5rem;

      .depth-3-frame-0-Wfy {
        margin-right: 1.6rem;
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.8rem;
        flex-shrink: 0;
      }
      .depth-3-frame-1-T5R {
        justify-content: center;
        flex-shrink: 0;
        font-weight: 400;
        overflow: hidden;
        white-space: nowrap;
        width: 13.8rem;
        position: relative;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #0c171c;
        display: flex;
        margin: 0.8rem 0;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        height: calc(100% - 1.6rem);
      }
    }
    .depth-3-frame-2-x2B {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.3rem;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  .depth-1-frame-9-5Mh {
    box-sizing: border-box;
    padding: 0.85rem 0rem 0.85rem 1.6rem;
    width: 46.5rem;
    height: 5.7rem;
    position: absolute;
    left: 0;
    top: 73.05rem;
    background-color: #f7f9fc;

    .depth-2-frame-0-b59 {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .depth-3-frame-0-xAb {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.8rem;
        flex-shrink: 0;
      }
      .auto-group-v9kd-u5q {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.4rem 0rem 0.8rem 1.6rem;
        height: 100%;

        .auto-group-gr5d-d1q {
          margin-right: 1.9rem;
          box-sizing: border-box;
          padding: 0.35rem 0rem 0.05rem 0rem;
          width: 35rem;
          height: 100%;
          flex-shrink: 0;

          .depth-3-frame-1-x47 {
            position: relative;
            font-size: 1.6rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            overflow: hidden;
            height: 100%;
            line-height: 1.5;
            color: #0c171c;
            justify-content: center;
            width: 100%;
          }
        }
        .depth-4-frame-0-NX9 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.4rem;
          width: 2.4rem;
          height: 2.4rem;
        }
      }
    }
  }
  .depth-1-frame-10-Vrf {
    top: 78.75rem;
    background-color: #f7f9fc;
    box-sizing: border-box;
    padding: 0.8rem 0rem 0.8rem 1.6rem;
    width: 46.4rem;
    height: 5.6rem;
    position: absolute;
    left: 0;

    .depth-2-frame-0-pe3 {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .depth-3-frame-0-BUb {
        border-radius: 0.8rem;
        flex-shrink: 0;
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-cyzz-8Pq {
        box-sizing: border-box;
        padding: 0.8rem 0rem 0.8rem 1.6rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .depth-3-frame-1-sMR {
          line-height: 1.5;
          height: 100%;
          font-size: 1.6rem;
          font-weight: 400;
          display: flex;
          justify-content: center;
          flex-shrink: 0;
          margin-right: 4.2rem;
          position: relative;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          overflow: hidden;
          color: #0c171c;
          width: 32.6rem;
        }
        .depth-3-frame-2-NZ5 {
          width: 2.4rem;
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .coursework-i79 {
    width: 12.9rem;
    height: 2.8rem;
    left: 1.6rem;
    top: 86.35rem;
    font-size: 2.2rem;
    font-weight: 700;
    white-space: nowrap;
    position: absolute;
    line-height: 1.25;
    letter-spacing: -0.033rem;
    color: #0c171c;
    font-family: Inter, 'Source Sans Pro';
  }
  .depth-1-frame-12-cCX {
    top: 90.3rem;
    background-color: #f7f9fc;
    box-sizing: border-box;
    padding: 0.8rem 1.6rem;
    width: 39rem;
    height: 5.6rem;
    position: absolute;
    left: 0;

    .depth-2-frame-0-Y6B {
      align-items: center;
      box-sizing: border-box;
      padding-right: 7.3rem;
      width: 100%;
      height: 100%;
      display: flex;

      .depth-3-frame-0-67h {
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 4rem;
        height: 4rem;
      }
      .depth-3-frame-1-RQs {
        line-height: 1.5;
        white-space: nowrap;
        justify-content: center;
        flex-shrink: 0;
        margin: 0.8rem 0;
        position: relative;
        font-size: 1.6rem;
        color: #0c171c;
        font-family: Inter, 'Source Sans Pro';
        overflow: hidden;
        font-weight: 400;
        width: 22.9rem;
        height: calc(100% - 1.6rem);
        display: flex;
        align-items: center;
      }
    }
  }
  .depth-1-frame-13-h7V {
    padding: 0.8rem 1.6rem;
    width: 39rem;
    height: 5.6rem;
    position: absolute;
    left: 0;
    top: 95.9rem;
    background-color: #f7f9fc;
    box-sizing: border-box;

    .depth-2-frame-0-RZH {
      box-sizing: border-box;
      padding-right: 9rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .depth-3-frame-0-mt3 {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
      }
      .depth-3-frame-1-uUT {
        color: #0c171c;
        width: 21.2rem;
        margin: 0.8rem 0;
        display: flex;
        position: relative;
        overflow: hidden;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        height: calc(100% - 1.6rem);
        flex-shrink: 0;
        justify-content: center;
      }
    }
  }
  .depth-1-frame-14-nYF {
    top: 101.5rem;
    background-color: #f7f9fc;
    box-sizing: border-box;
    padding: 0.8rem 1.6rem;
    width: 39rem;
    height: 5.6rem;
    position: absolute;
    left: 0;

    .depth-2-frame-0-Hzo {
      box-sizing: border-box;
      padding-right: 23.2rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .depth-3-frame-0-3UB {
        margin-right: 1.6rem;
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.8rem;
        flex-shrink: 0;
      }
      .depth-3-frame-1-aj1 {
        white-space: nowrap;
        justify-content: center;
        font-weight: 400;
        line-height: 1.5;
        position: relative;
        display: flex;
        margin: 0.8rem 0;
        width: 7rem;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        flex-shrink: 0;
        font-size: 1.6rem;
        color: #0c171c;
        height: calc(100% - 1.6rem);
        overflow: hidden;
      }
    }
  }
  .skills-tDu {
    top: 109.1rem;
    font-weight: 700;
    letter-spacing: -0.033rem;
    color: #0c171c;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    left: 1.6rem;
    font-size: 2.2rem;
    line-height: 1.25;
    white-space: nowrap;
    width: 5.6rem;
    height: 2.8rem;
  }
  .depth-1-frame-16-zXq {
    top: 114.25rem;
    width: 51.9rem;
    height: 11.85rem;
    position: absolute;
    left: 1.2rem;

    .auto-group-o18s-XXm {
      margin-bottom: 1.2rem;
      display: flex;
      align-items: center;

      .depth-2-frame-0-53V {
        font-size: 1.4rem;
        font-weight: 500;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        border-radius: 1.2rem;
        width: 7.9516rem;
        line-height: 1.5;
        display: flex;
        justify-content: center;
        height: 3.2rem;
        color: #0c171c;
        white-space: nowrap;
        background-color: #e8eff4;
        flex-shrink: 0;
        margin: 0.05rem 1.248rem 0rem 0rem;
      }
      .depth-2-frame-1-Yxf {
        align-items: center;
        border-radius: 1.2rem;
        height: 3.2rem;
        line-height: 1.5;
        white-space: nowrap;
        width: 5.9688rem;
        display: flex;
        background-color: #e8eff4;
        flex-shrink: 0;
        margin: 0rem 1.831rem 0.05rem 0rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: #0c171c;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
      }
      .depth-2-frame-3-S2T {
        font-weight: 500;
        justify-content: center;
        background-color: #e8eff4;
        border-radius: 1.2rem;
        font-size: 1.4rem;
        height: 3.2rem;
        white-space: nowrap;
        align-items: center;
        margin: 0.05rem 2.588rem 0rem 0rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        width: 6.3125rem;
        color: #0c171c;
        display: flex;
        line-height: 1.5;
      }
      .depth-2-frame-2-JqM {
        align-items: center;
        height: 3.2rem;
        font-size: 1.4rem;
        font-weight: 500;
        justify-content: center;
        background-color: #e8eff4;
        margin: 0.05rem 3.244rem 0rem 0rem;
        width: 6.7563rem;
        color: #0c171c;
        display: flex;
        border-radius: 1.2rem;
        flex-shrink: 0;
        line-height: 1.5;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .depth-2-frame-4-b3m {
        white-space: nowrap;
        background-color: #e8eff4;
        margin-top: 0.05rem;
        width: 8.6969rem;
        display: flex;
        font-weight: 500;
        line-height: 1.5;
        color: #0c171c;
        justify-content: center;
        border-radius: 1.2rem;
        flex-shrink: 0;
        height: 3.2rem;
        font-size: 1.4rem;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
      }
    }
    .auto-group-tdew-UdM {
      margin-bottom: 1rem;
      width: 100%;
      height: 3.3rem;
      position: relative;

      .depth-2-frame-5-295 {
        font-size: 1.4rem;
        color: #0c171c;
        height: 3.2rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        position: absolute;
        top: 0;
        line-height: 1.5;
        align-items: center;
        justify-content: center;
        border-radius: 1.2rem;
        left: 0;
        font-weight: 500;
        white-space: nowrap;
        background-color: #e8eff4;
        width: 22.6141rem;
      }
      .depth-2-frame-6-iXh {
        display: flex;
        border-radius: 1.2rem;
        left: 22.3rem;
        top: 0.1rem;
        align-items: center;
        width: 15.2406rem;
        height: 3.2rem;
        line-height: 1.5;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        position: absolute;
        font-size: 1.4rem;
        background-color: #e8eff4;
        font-weight: 500;
        color: #0c171c;
      }
      .depth-2-frame-7-CSs {
        width: 14.4rem;
        color: #0c171c;
        font-family: Inter, 'Source Sans Pro';
        height: 3.2rem;
        position: absolute;
        font-size: 1.4rem;
        background-color: #e8eff4;
        top: 0.1rem;
        font-weight: 500;
        white-space: nowrap;
        justify-content: center;
        border-radius: 1.2rem;
        left: 37.5rem;
        line-height: 1.5;
        display: flex;
        align-items: center;
      }
    }
    .depth-2-frame-8-tKh {
      height: 3.1rem;
      font-size: 1.4rem;
      font-weight: 500;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      background-color: #e8eff4;
      width: 12.9rem;
      line-height: 1.5;
      color: #0c171c;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      border-radius: 1.2rem;
    }
  }
  .depth-2-frame-0-zdd {
    height: 4.8rem;
    background-color: #b5e8fc;
    box-sizing: border-box;
    width: 59.5rem;
    left: 1.6rem;
    top: 133.05rem;
    overflow: hidden;
    border-radius: 1.2rem;
    padding: 1.2rem 22.9586rem;
    position: absolute;

    .depth-3-frame-0-X7m {
      font-weight: 700;
      color: #0c171c;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      overflow: hidden;
      line-height: 1.5;
      letter-spacing: 0.024rem;
      font-family: Inter, 'Source Sans Pro';
      width: 100%;
      font-size: 1.6rem;
      background-color: #b5e8fc;
      position: relative;
    }
  }
}
